<h1>Editing sample cus datum</h1>

<%= render "form", sample_cus_datum: @sample_cus_datum %>

<br>

<div>
  <%= link_to "Show this sample cus datum", @sample_cus_datum %> |
  <%= link_to "Back to sample cus data", sample_cus_data_path %>
</div>
